POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# --- DATABASE URL ---
DATABASE_URL=

# --- JWT / OAUTH2 ---
OAUTH2_SECRET_KEY=
OAUTH2_ALGORITHM=HS256
OAUTH2_ACCESS_TOKEN_EXPIRE_MINUTES=180
OAUTH2_REFRESH_TOKEN_EXPIRE_DAYS=30

# Secret Admin
FIRST_ADMIN_SECRET=VungOiMoRa123

# --- SESSION MIDDLEWARE ---
SECRET_KEY=

# --- APP ---
APP_ENV=development
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
